h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    margin-right: 500px;
    margin-left: 50px;
}

img {
    height: 300;
}
